body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Rajdhani';
  src: local("Rajdhani"), url('./assets/font/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url('./assets/font/Poppins/Poppins-Regular.ttf');
}

.react-multiple-carousel__arrow{
  background-color: rgba(0, 0, 0, 0.26) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(8% + 1px) !important;
}

.css-1vcjn68{
  max-height: 80vh !important;
  overflow-y: scroll !important;
}

.react-multi-carousel-item{
  width: 'auto' !important;
}